.App{
    flex: 1 0 auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navButton{
    background-color: #1f1f1f;
    border-color: #373737;
    font-size: 30px;
    color: #888888;

    height: 720px;
    width: 16%;
}