.Footer{
    flex-shrink: 0;
    text-align: center;
    background-color: #0c030b;
    min-height: 50px;
    width: 100%;
}

.Footer a{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-decoration: none;
}

a:link {
    color: #3f355c;
}

a:visited {
    color: #3f355c;
}

a:hover {
    color: #797db1;
}

a:active {
    color: #4c4e88;
}