.App{
    height: 720px;
    width: 1280px;

    flex: 1 0 auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.videoClip{
    height: 720px;
    width: 1280px;
    display: none;
    user-select: none;
}

.unmuteButton{
    height: 720px;
    width: 1280px;
    opacity: 0.95;

    background-color: var(--secondary-bg-color);
    border: 0;
    position: absolute;

    display: flex;

    justify-content: center;
    align-items: center;

    transition-duration: 0.4s;
    user-select: none;
}

.unmuteButton:hover {
    background-color: var(--main-text-color);
}

.unmute-icon{
    height: 100%;
}

.backText{
    position: absolute;
    z-index: -1;
    color: var(--main-text-color);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}