.app{
    width: 100vw;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.app__content{
    max-height: 720px;
    width: 1280px;
    max-width: 100%;
}