.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.AppContent{
    width: 1280px;
    max-width: 100%;
    max-height: 720px;
}

.videoClip{
    height: 100%;
    width: 100%;

    display: none;
    user-select: none;
}