.footer{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__content{
    height: 50px;
    width: 1280px;
    max-width: 100%;

    text-align: center;
}

.footer a{
    width: 6%;

    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-decoration: none;
    user-select: none;
}

a:link {
    color: var(--main-title-color);
}

a:visited {
    color: var(--main-title-color);
}

a:hover {
    color: var(--secondary-title-color);
}

a:active {
    color: var(--main-title-color);
}