.Footer{
    flex-shrink: 0;
    text-align: center;
    /*background-color: #0c030b;*/
    min-height: 50px;
    width: 100%;
}

.Footer a{
    display: block;
    width: 6%;
    float: right;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;

    text-decoration: none;
    user-select: none;
}

a:link {
    color: var(--main-title-color);
}

a:visited {
    color: var(--main-title-color);
}

a:hover {
    color: var(--secondary-title-color);
}

a:active {
    color: var(--main-title-color);
}